body{
  background: #2c3e50;
  color: #fff;
  font-family: 'Arial', 'sans-serif';
  font-size: 18px;
}

#container{
  width: 60%;
  background:#e67e22;
  margin: 20px auto;
  overflow: auto;
  padding: 25px;
}

header{
  text-align: center;
  border-bottom: #d35400 solid 1px;

}

header h1{
  margin: 0;
  padding:0;
}

header p{
  padding:0;
  margin-top:5px;
  color: #000;
}

section{
  min-height: 400px;
}

footer{
  text-align: center;
}

input[type="submit"]{
  background: #2c3e50;
  border:0;
  color:#fff;
  padding:15px  50px;
  font-size: 16px;
  border-radius: 5px;
  cursor:pointer;
}

#results{
  background: #2c3e50;
  padding:10px;
  margin: 10px 0;
  text-align: center;
}

#results span{
  color: #000;
  font-weight: bold;
}
